.footer {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_copyright {
    font-weight: 700;
    padding-left: 60px;
    padding-right: 200px;
    padding-bottom: 50px;
}

.top, 
.bottom {
      display: inline-block;
      text-wrap: nowrap;
}

.footer_links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-left: 60px;
}


.footer_logo {
    position: relative;
    display: inline-block;
    margin-right: 120px;
}

.footer_email {
    width: 32px;
    height: 32px;
}