
.skills_row {
        margin-bottom: 50px;
        padding-top: 80px;
        text-align: left;
}
.skills-title {
    /* padding-right: 280px; */
}

.skill {
    display: flex;
    justify-content: space-between;
    padding-bottom: 140px;
    margin-right: 45px;
}

.skills_label {
    width: 47%;
    padding-top: 2px;
    margin-right: 6px;
    margin-bottom: 25px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

.skills_items {
    list-style-type: none;
    margin-left: 0;
    padding-left: 15px;
  }
    
.skills_item {
    margin-bottom: 6px;
    font-size: 0.9rem;
}