#top-button {
    position: fixed;
    /* width: 35px;
    height: 30px; */
    bottom: 25px;
    right: 30px;
    border: none;
    background-color: white;
    cursor: pointer;
    display: none;
}

.text {
    color: red;
    /* margin-right: 3px;
    margin-top: 2px; */
}

.text:hover {
    color: blue;
  }